.verify-record {
  .verify-record_content-search-status {
    margin: 0.55rem 0 0;

    .verify-record_status-count-wrap {
      background: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-top: 1px solid #ccc;
      .verify-record_status-count-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.1rem 0 0.1rem;
        width: 30%;
        border-right: 1px solid #ccc;
        &:last-child {
          border-right: none;
        }
        .verify-record_title {
          color: #444;
          font-size: 0.1rem;
          margin-bottom: 0.05rem;
        }
        .verify-record_count {
          color: #007ccd;
          font-size: 0.16rem;
          font-weight: 600;
        }
      }
    }
    .verify-record_search {
      background: #fff;
      padding: 0.1rem 0.2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .verify-record_status,
      .verify-record_date {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .verify-record_status {
        padding: 0 20px;
      }
    }
  }

  .verfiy-record_content {
    margin: 0.15rem;
    overflow-y: scroll;
    // height: 4.5rem;
    height: calc(100vh - 1.8rem);
    -webkit-overflow-scrolling: touch;
    .loader {
      text-align: center;
      color: #999;
    }
  }
}
