.header-content {
  height: 0.8rem;
  background: linear-gradient(to right, #007ccd, #00d1cf, #00f5d1);
  margin-top: 0.4rem;
  .header-content_item {
    color: #fff;
    font-size: 0.14rem;
    text-align: center;
    padding-top: 0.2rem;
    font-weight: 600;
  }
}
