html:not([data-scale]) .am-list-body::before,
html:not([data-scale]) .am-list-body::after {
  background: #fff;
}
.modify-password {
  margin-top:0.4rem;
  .modify-password_content {
    padding: 0.35rem 0.2rem;
    .password-input-list {
      margin: 0;
      .am-list-header {
        padding-top: 0;
      }
      .am-list-footer {
        color: #ea3838;
      }
      .am-list-body {
        border-radius: 0.1rem;
        border: none;
      }
      .am-list-item.am-input-item {
        border-radius: 0.1rem;
        border: none;
      }
    }
    .modify-password_btn {
      margin-top: 0.25rem;
      background: linear-gradient(to right, #007ccd, #00d1cf, #00f5d1);
      text-align: center;
      border-radius: 0.2rem;
      color: #fff;
      font-size: 0.18rem;
      font-weight: 600;
      padding: 0.12rem 0.1rem;
    }
  }
}
