.verify-menu {
  display: flex;
  flex-direction: row;
  background: #46404d;
  color: #fff;
  font-size: 0.14rem;
  padding: 0.2rem 0;
  margin-top:0.4rem;
  .verify-menu_item {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    img {
      width:20%;
    }
    .verify-menu_item-name {
      margin-top: 0.1rem;
    }
  }
}
